<nav class="navbar navbar-inverse" style="background-color: blue">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Labels</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="https://www.w3schools.com/default.asp" taget="_blank">W3Schools</a></li>
        <li><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" disabled><span class="glyphicon glyphicon-user"></span>
            Profile
            </a></li>
        <li>
          <a href="#" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>
            Logout
          </a></li>
      </ul>
    </div>
  </nav>
<div class="container text-center">
  <h1>Hello!</h1>
  <img src="{{monk}}">
  <!-- <button type="button" routerLink="/login">LogOut</button> -->
</div>
