<div class="background">
  <div class="container">
    <div class="login">
    <h1>Login!</h1>
      <div class="column">
        UserName:
        <input class="">
      </div>

      <div class="column2">
        Password:
        <input class="">
      </div>

      <div class="btnContainer">
          <button type="button" class="btn btn-success" disabled>
            Login
          </button>
        <br>
        <a routerLink="/register">
          Register
        </a>
        <br>
        <a class="arch">Forgot password?</a>
      </div>
    </div>
  </div>
</div>
