  <div class="container">
  <div class="column">
    <h1>Register!</h1>
    <br>
    <label for="email">Email:</label>
    <br>
    <input type="text" placeholder="Enter Email" name="email" required>
    </div>
  <div class="column">
    <label for="psw">Password:</label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" required>
    </div>
  <div class="column">
    <label for="psw-repeat">
      Repeat Password:
    </label>
    <br>
    <input
    type="password"
    placeholder="Repeat Password"
    name="psw-repeat" required>
  </div>

  <button type="button" class="btn btn-info" routerLink="/home">Sign Up</button>
</div>
