  <div class="container">
  <div class="column">
    <h1>Register!</h1>
    <br>
    <label for="email"><b>Email:</b></label>
    <br>
    <input type="text" placeholder="Enter Email" name="email" required>
    </div>
  <div class="column">
    <label for="psw"><b>Password:</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" required>
    </div>
  <div class="column">
    <label for="psw-repeat">
      <b>Repeat Password:</b>
    </label>
    <br>
    <input
    type="password"
    placeholder="Repeat Password"
    name="psw-repeat" required>
  </div>

    <button type="submit" class="signupbtn" routerLink="/home">Sign Up</button>
</div>
